{% extends 'base.html.twig' %}

{% block body %}

 
                    <h1>
                      Les revenus gagnés par rapport aux dates des facturations
                    </h1>
             
                    {{ render_chart(chart) }}
         

 

{% endblock %}
